body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #37474f;
  background-color: #f9fafb;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #222222;
  margin-bottom: 20px;
}

#avatarPreview img{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 70%;
  border: 2px solid #ccc;
  display: block;
}

/* Form Container */
form {
  max-width: 600px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Form Heading */
form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input Labels */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #37474f;
}

/* Input Fields */
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="file"] {
  padding: 6px;
}

/* Form Buttons */
form .button-group {
  display: flex;
  justify-content: space-between;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  background-color: #3f51b5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #303f9f;
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #303f9f;
}